{#
/**
 * @file epci.html.twig
 * Default theme implementation to present epci data.
 *
 * This template is used when viewing epci pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_epci()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('epci') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
